Package: com.ps.emojifontmanager
Name: EmojiFontManager
Depends: mobilesubstrate, preferenceloader, com.ps.emojilibrary, firmware (>= 6.0), ws.hbang.common (>= 1.11.3)
Version: 0.0.1
Architecture: iphoneos-arm
Description: Emoji font override and management.
Maintainer: PoomSmart
Author: PoomSmart
Section: Tweaks
Depiction: https://poomsmart.github.io/repo/depictions/emojifontmanager.html
SileoDepiction: https://poomsmart.github.io/repo/sileodepictions/emojifontmanager.json
Icon: file:///Library/PreferenceBundles/EFMPref.bundle/EFMPref@2x.png
