Package: com.ps.emojifontmanager
Name: EmojiFontManager [Beta]
Depends: mobilesubstrate, preferenceloader, com.ps.emojilibrary, firmware (>= 6.0)
Version: 0.0.1
Architecture: iphoneos-arm
Description: Emoji font override and management
Maintainer: PoomSmart
Author: PoomSmart
Section: Tweaks
Depiction: https://poomsmart.github.io/repo/emojifontmanager/index.html
Icon: file:///Library/PreferenceBundles/EFMPref.bundle/EFMPref@2x.png
